<%= stylesheet_link_tag '/assets/mystyle/archive_style.css'%>
<!-- Author: LNQ.Thai -->
<%# form add archive %>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 tag d-flex align-items-center title mt-3">
        <h4 class="mb-1" style="color: var(--falcon-btn-falcon-success-active-color);"><%= lib_translate('Certifications_and_rewards')%></h4>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 action-right-top d-flex align-items-center justify-content-end">
      <% if is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","ADD") && request.env["PATH_INFO"] != "/user/profile" %> 
            <a class="nav-link ps-2 pe-3 border-end border-2 " role="button" style="font-size: 13px; font-weight: 700" onclick="openFormAddArchive()" class="btn btn-primary mt-3"  data-bs-toggle="collapse" data-bs-target="#form_archive" aria-expanded="false" aria-controls="form_archive" id="btn-add-archive">
              <%= lib_translate("Add_new_archive") %> 
            </a> 
            <a id="id_cancel_archive" class=" nav-link ps-2 pe-3 border-end border-2"  style="display:none; font-size: 13px; font-weight: 700;cursor:pointer" data-bs-toggle="collapse" data-bs-target="#form_archive" aria-expanded="false" aria-controls="form_archive">
              <%= lib_translate("Cancle") %> 
            </a> 
      <% end %>
    </div>
</div>
  <hr class="mt-4 mb-3" style="width: 100%; height: 4px; background:  var(--falcon-badge-soft-secondary-background-color); ">
<div class="mb-4">
    <div class="collapse" id="form_archive">
      <div class="card ">
          <div class="form-add-archive">
          <%= form_for @archive, :url=> user_archive_update_path, html: {method: :post, id:"form_add_archive" } do |f| %>
              <div style="text-align: center;">
                <h3  id="cls_bmtu_form_add_title_archive"></h3>
              </div>
              <div class="erro_labble mb-2" style="height: 40px">
                <p style=" display: none; color: rgb(197 82 82); border: 1px solid rgb(199 136 136 / 23%); background: rgb(255 54 54 / 16%); border-radius: 5px; padding: 10px; margin-right: 15px;  margin-left: 15px; " id="erro_archive" ></p>
              </div>
            <div class="form-group" style="display: none" class="txt_update_id" >
              <%= f.label :id %>
              <span style="color: red" class="red">* </span>
              <%= f.text_field :id, class: 'form-control', name: 'archive_id_add', id: 'archive_id_add' %>
            </div>
            <div class="row reponsil">
              <div class="col">
                <div class="form-group" id="id_add_sid" style="display: none;">
                  <%= f.label :user_id %>
                  <span style="color: red" class="red">* </span>
                  <%= f.text_field :user_id, class: 'form-control', name:'archive_user_id_add', id:'archive_user_id_add', :value => @user.id %>
                </div>

                <div class="form-group ">
                  <%= f.label lib_translate("Archive_name") %>  <span style="color:red;" class="red">* </span>
                  <%= f.text_field :name, class: 'form-control', name: 'archive_name_add', id: 'archive_name_add',style:'background-color:var(--falcon-input-bg);' %>      
                </div>

                <div class="form-group mt-3">
                  <%= f.label lib_translate("Archive_Issued_place") %> <a class="ms-2" href="<%= organization_index_path() %>"><span style="width:10px; color:#98a7b9" class="fas fa-database"></span></a>
                  <select style="text-transform: capitalize;" class="form-control" name="sel_archive_issued_place_add" id="sel_archive_issued_place_add">
                    <% if !@organization.nil? %>
                      <% @organization.each do |organization| %>
                        <option  value="<%= organization.name%>">
                          <%= organization.name%>
                        </option>
                      <%end%>
                    <%end%>
                  </select>   
                </div>

                <div class="form-group mt-3">
                  <%= f.label lib_translate("Archive_issue_type") %> <a class="ms-2" href="<%= tbarchivetypes_index_path() %>"><span style="width:10px; color:#98a7b9" class="fas fa-database"></span></a>
                  <!--<%= f.select_tag :stype, options_for_select([[ lib_translate("Personal"),"0"] , [ lib_translate("Group"),"1"]]), :class=> "form-control", :name=> 'sel_archive_stype_add', :id=> 'sel_archive_stype_add'%>-->
                  <select style="text-transform: capitalize;" class="form-control" name="sel_archive_stype_add" id="sel_archive_stype_add">
                    <% if !@tbarchivetype.nil? %>
                      <% @tbarchivetype.each do |type| %>
                        <option  value="<%= type.name%>">
                          <%= type.name%>
                        </option>
                      <%end%>
                    <%end%>
                  </select>
                </div>

                <div class="form-group mt-3">
                  <%= f.label lib_translate("Archive_issue_date") %> 
                    <div id="datepicker-container" class="datepicker-container">
                      <span style="position: relative;" class="outline-element-container"> <input value="<%=Time.now.strftime('%d/%m/%Y')%>" id="archive_issued_date_add" type="text" name="archive_issued_date_add" class="form-control datepicker openemr-datepicker input-textbox outline-element incorrect" placeholder="dd/mm/yyyy" objtype="7" name="action_element" objindex=""  aria-label="Select Date"> <span class="correct-incorrect-icon"> </span></span>
                      <div id="datepicker"></div>
                    </div>                 
                </div>
                <div class="form-group mt-3">
                  <%= f.label lib_translate("Issue_id_archive") %> 
                  <%= f.text_field :issue_id, class: 'form-control', name: 'archive_issue_id', id: 'archive_issue_id',style:'background-color:var(--falcon-input-bg);' %>
                </div>
                <div class="form-group mt-3">
                  <%= f.label lib_translate("Archive_issue_level") %> <a class="ms-2" href="<%= tbarchivelevels_index_path() %>"><span style="width:10px; color:#98a7b9" class="fas fa-database"></span></a>
                    <select style="text-transform: capitalize;" class="form-control" name="sel_archive_issue_level" id="sel_archive_issue_level">
                      <% if !@tbarchivetype.nil? %>
                        <% @tbarchivelevel.each do |type| %>
                          <option  value="<%= type.name%>">
                            <%= type.name%>
                          </option>
                        <%end%>
                      <%end%>
                    </select>
                </div>
              </div>
                
            </div>
            <div class="form-group" style="margin-left: 15px; margin-right: 15px" >
              <%= f.submit "" , type:"button" , id:"btn_add_news_archive", class: "btn btn-primary mt-3 mb-5 border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block btn-block text-uppercase d-none", style: "width: 100%;" %>
              <div id="loading_button_archive" class= "btn btn-primary mt-3 border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block text-uppercase" style="opacity: 0.8;width: 100%; display:none;" >
                <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Save")%> 
              </div>
            </div>
          <% end %>
          <%#  %>
            <label onclick="clickCollapseArchive(this)" id= "btn-colapse-archive-label" class= "card p-2 mt-3 d-flex ps-3 pe-3" style= "width: 100%; background: var(--falcon-badge-soft-dark-background-color); flex-direction: row; align-items: center; justify-content: space-between;" type="button" data-bs-toggle="collapse" data-bs-target="#add-file-medias_archive" aria-expanded="false" aria-controls="add-file-medias_archive">
              <%=lib_translate("List_file_archive")%> 
              <i id="colapse-icon-archive" style="transition: all 100ms ease 0s; font-size: 20px;" class="fas fa-angle-left"></i>
            </label>
            <%# Upload media view %>
              <div class="collapse" id="add-file-medias_archive">
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0"><%=lib_translate("Upload_files")%></h5>
                  </div>
                  <div class="card-body bg-light" id="upload_file_archive">
                    
                  </div>
                </div>
              </div>
            <%# ==== %>
                <div class="collapse" id="form-list-file-archive">
                  <div  id="card-upload-mediafile_archive">
                    <div class="p-3">
                      <div id="table-file-archive" >
                        <div class="table-responsive scrollbar">
                          <table class="table table-bordered fs--1 mb-0">
                            <thead class="bg-200 text-900">
                              <tr style="background: var(--falcon-input-focus-border-color); color: var(--falcon-badge-soft-dark-color);">
                                <th class="sort" data-sort="name" style="text-align:center"><%=lib_translate("File_name")%></th>
                                <th class="sort" data-sort="create_date" style="text-align:center"><%=lib_translate("Create_date")%></th>
                                <th class="sort" data-sort="owner" style="text-align:center"><%=lib_translate("Created_by")%></th>
                                <th data-sort="age"></th>
                              </tr>
                            </thead>
                            <tbody class="" id="list-mediafile-archive">
                              <% @archive.ardocs.each do |ardoc| %>
                                <tr>
                                  <td class="name" style="text-align: left" ><%= ardoc.mediafile.file_name %></td>
                                  <td class="create_date" style="text-align: center" ><%= ardoc.mediafile.created_at.strftime("%d/%m/%Y") %>
                                  <td class="owner" style="text-align: left" ><%= ardoc.mediafile.owner %></td>
                                  <td style="text-align: center; min-width: 100px; white-space:nowrap;">
                                    <a download href="<%= request.base_url %>/mdata/hrm/<%= ardoc.note %>" target="_blank" class="me-3" style="text-decoration: none; cursor: pointer;" title="Download" >
                                      <i class = "fas fa-file-download icon"></i>
                                    </a>
                                    <a onclick="showModalDelete(this)" data-name="<%= ardoc.mediafile.file_name %>"  data-action="<%= url_for(action: :archive_del, id: @archive.id, uid: @archive.user_id, did: ardoc.id, ck_action: "document")%>"  style="cursor: pointer;">
                                        <span class="text-danger fas fa-trash" style="width : 15px"></span>
                                    </a>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                        
                      </div>
                      <div class="d-flex justify-content-end mt-2">
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#add-file-medias_archive" aria-expanded="false" aria-controls="add-file-medias_archive"><%=lib_translate("Add_doccuments")%></button>
                      </div>  
                    </div>
                  </div>                  
                  
            </div>
            <label id="name-btn-archive" for="btn_add_news_archive" class= "btn btn-primary mt-3  border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block text-uppercase" style= "width: 100%;">
            
            </label>
            <div id="loading_button_archive" class= "btn btn-primary mt-3 border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block text-uppercase" style="opacity: 0.8;width: 100%; display:none;" >
              <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Save")%> 
            </div>
            <%#  %>
        </div>
      </div>
  </div>
</div>

          <!-- table archive -->
<div class="list_archive">
    <div class="card mb-3">
      <div class="card-body pt-0">
        <div class="tab-content">
                <table id="archive_table" class="table table-bordered table-sm fs--2 mb-0" style="margin-top: 0px !important; margin-bottom: 0px !important">
                  <thead class="bg-200 text-900">
                    <tr style="">
                      <th class="sort" data-sort="name_archive" style="text-align: center; cursor: pointer;"><%= lib_translate("Archive_name")  %></th>
                      <th class="sort" data-sort="issued_place_archive" style="text-align: center; cursor: pointer;"> <%= lib_translate("Archive_Issued_place")  %> </th>
                      <th class="sort" data-sort="stype_archive" style="text-align: center; cursor: pointer;display:none"><%= lib_translate("Stype_archive")  %></th>
                      <th class="sort" data-sort="issue_type_archive" style="text-align: center; cursor: pointer;"> <%= lib_translate("Archive_issue_type")  %> </th>
                      <th class="sort" data-sort="issue_id_archive" style="text-align: center; cursor: pointer"><%= lib_translate("Issue_id_archive")  %></th> 
                      <th class="sort" data-sort="issue_date_archive" style="text-align: center; cursor: pointer;"> <%= lib_translate("Archive_issue_date")  %> </th>
                      <th class="sort" data-sort="issue_level_archive" style="text-align: center; cursor: pointer;"> <%= lib_translate("Archive_issue_level")  %> </th>
                  <% if (is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","EDIT") || is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","DEL")) && (request.env["PATH_INFO"] != "/user/profile") %> 
                      <th class="no-sort"style="text-align: center; cursor: pointer;"></th> 
                <% end %>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <% @archives.each do |archive| %>
                    
                    <tr id= "id_edit_btn_archive" myidarchive = '<%= archive.id %>' >
                      <td class="name_archive" style="cursor: pointer; text-align: center;" > 
                        <%= archive.name %>
                      </td>
                      <td class="issued_place_archive" style="cursor: pointer; text-align: center;" >
                        <%= archive.issued_place %>
                      </td>
                      <td class="stype_archive"  style="cursor: pointer; text-align: center;display:none" >
                        <%= archive.stype %>
                      </td>
                      <td class="issue_type_archive">
                        <%= archive.issue_type %>
                      </td>
                    
                      <td class="issue_id_archive">
                        <%= archive.issue_id %>
                      </td>
                      <td class="issue_date_archive" style="cursor: pointer; text-align: center;" >
                        <%= archive.issued_date&.strftime('%d/%m/%Y') %>
                      </td>
                      
                      <td class="issue_level_archive">
                        <%= archive.issue_level %>
                      </td>
                  <% if (is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","EDIT") || is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","DEL")) && (request.env["PATH_INFO"] != "/user/profile") %> 
                      <td style="min-width: 100px; text-align: center; white-space: nowrap;">

                        <% if is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","EDIT") && request.env["PATH_INFO"] != "/user/profile" %> 
                            <a class="edit_archive" id="btn_edit_item" style="text-decoration: none; cursor:pointer" data-bs-toggle="collapse" data-bs-target="#form_archive" aria-expanded="false" aria-controls="form_archive" 
                            onclick="openFormUpdateArchive(    
                              `<%= archive.id %>`,
                              `<%= archive.user_id %>`,
                              `<%= archive.name %>`,
                              `<%= archive.issued_place %>`, 
                              `<%= archive.stype %>`,
                              `<%= archive.issued_date&.strftime('%d/%m/%Y') %>`, 
                              `<%= archive.status %>`,
                              `<%= archive.issue_id %>`,
                              `<%= archive.issue_type %>`,
                              `<%= archive.issue_level %>`,
                              `<%= session[:id_archive_user] = archive.id %>`)">
                              <span class="text-primary far fa-edit me-2"  style="width: 15px" ></span>
                            </a>
                        <% end %>
                        <% if is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","DEL") && request.env["PATH_INFO"] != "/user/profile" %> 
                              <a onclick="clickDeleteArchive(`<%= archive.id %>`,`<%= archive.name %>`,`<%= archive.user_id %>`)" style="cursor: pointer" >
                                <span class="text-danger fas fa-trash"  style="width: 12px" ></span>
                              </a>         
                          <% end %>
                        <% if is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","EDIT") && request.env["PATH_INFO"] != "/user/profile" %> 
                            <a onclick='clickEditMediaArchive("<%= archive.id%>","<%= archive.user_id%>")' href="#file-archive-<%= archive.id  %>" role="button" aria-expanded="false" aria-controls="file-archive-<%= archive.id  %>" data-bs-toggle="collapse" data-bs-target="#upload_archive-<%= archive.id  %>" aria-expanded="false" aria-controls="upload_archive-<%= archive.id  %>" class="m-0 ms-3">
                              <span class="fas fa-folder-open me-4 icon text-warning"></span>
                            </a>
                          <% end  %>     
                      </td>
                <% end  %>
                      </tr>
                  <% if is_access(session["user_id"], request.env["PATH_INFO"] == "/user/details" ? "USER-DETAILS" : request.env["PATH_INFO"] == "/user/profile" ? "USER-PROFILE" : "","EDIT") && request.env["PATH_INFO"] != "/user/profile" %> 
                      <%# sửa ở đây %>
                        <tr style="background: var(--falcon-border-color);" class="collapse" id="upload_archive-<%= archive.id  %>" >
                          <td class="name_archive" style="display:none;" > 
                            <%= archive.name %>
                          </td>
                          <td class="issued_place_archive" style="display:none;" >
                            <%= archive.issued_place %>
                          </td>
                          <td class="stype_archive"  style="display:none;" >
                            <%= archive.stype %>
                          </td>
                          <td class="issue_type_archive"style="display:none;" >
                            <%= archive.issue_type %>
                          </td>
                          <td class="issue_id_archive"style="display:none;" >
                            <%= archive.issue_id %>
                          </td>
                          <td class="issue_date_archive" style="display:none;" >
                            <%= archive.issued_date&.strftime('%d/%m/%Y') %>
                          </td>

                          <td class="issue_level_archive"style="display:none;" >
                            <%= archive.issue_level %>
                          </td>
                          <td colspan="7" class="line_upload_archive">
                            <div id="file-upload-archive-<%= archive.id  %>"></div>
                          </td>
                      </tr>
                  <% end %>
                    <% end %>
                  </tbody>
                </table>
        </div>
      </div>
    </div>
</div>

<%# modal delete holiday details %>
<div class="modal fade" id="archive-confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= lib_translate("Message") %>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="border: none; background: none">
          <span aria-hidden="true" style="font-size: 20px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= lib_translate("confirm_delete_message") %>
        <span id="modal-mesasge-delete-name" style="font-weight: bold; color: red"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="button_close_delete"> <%= lib_translate("Close") %> </button>
        <a class="btn btn-danger" id="button_delete" rel="nofollow" data-method="delete" href="#"><%=lib_translate("Delete")%></a>
        <div id="loading_button_delete_archive_details" class= "btn btn-danger" style="opacity: 0.8; width: 100%; display:none;" >
          <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Deleting")%> 
        </div>
      </div> 
    </div>
  </div>
</div>   
<%#  %>

        <!-- script archive -->

<script>
  let Add_new_archive= "<%= lib_translate('Add_new_archive')%>";
  let Add_archive= "<%= lib_translate('Add_archive')  %>";
  let Update_archive= "<%= lib_translate('Update_archive')%>";
  let user_archive_edit_path= "<%= user_archive_edit_path%>";
  let archive_upload_mediafile= '<%= url_for(action: :archive_upload_mediafile)%>';
  let action = '<%= url_for(action: :archive_del, ck_action: "document")%>';
  let setIconPath='<%= root_path%>assets/image/';
  let err_archive="<%=lib_translate('Please_enter_archive')%>";
  let mess_del= "<%= lib_translate('Are_you_sure_to_delete_this_archive_of')%>";
  let href_archive = '<%= url_for(action: :archive_del)%>';
</script>
<%= javascript_include_tag '/assets/myjs/archive.js' %>
<!-- end script archive -->