
<% content_for :head do %>
 <%= stylesheet_link_tag '/assets/mystyle/education.css' %>
<% end %>

<% content_for :bottombody do %>
  <%= javascript_include_tag '/assets/myjs/education.js'%>
  <%= javascript_include_tag '/assets/lib_hrm/bootstrap.min.js', integrity: 'sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin: 'anonymous'%>
<% end %>
 
 
  <%= stylesheet_link_tag '/assets/mystyle/education.css' %>
    <h3 class="mt-2 overview_text"><%= lib_translate("List_education")  %></h3>
  <div class="card mb-3">
    <div class="card-body pt-0">
      <div class="tab-content">
          <% if is_access(session["user_id"], "EDUCATION","ADD") %>
        <button onclick="openFormAddEducation()" class="btn btn-primary btn-add-user mt-3" id="btn-add-user" data-bs-toggle="modal" data-bs-target="#modal-education">
          <%= lib_translate("Add_education")  %>
        </button>
          <% end %>
        <div class="tab-pane preview-tab-pane active" role="tabpanel"
          aria-labelledby="tab-dom-5a3c857c-8deb-4307-af64-a62f27089443"
          id="dom-5a3c857c-8deb-4307-af64-a62f27089443">
            <div class="table-responsive scrollbar">
            <%= render_search_pagination(education_edit_path()).html_safe %>
              <table id="table_education" class="table table-bordered fs--1 mb-0 table-hover resizable" style="margin-top: 0px !important; margin-bottom: 0px !important">
                <thead class="bg-200 text-900">
                  <tr>
                    <th data-sort="id" style="display: none;">ID</th>
                    <th class="sort" data-sort="url" style="text-align: center; cursor: pointer;"><%= lib_translate("Name_education")  %></th>
                    <th class="sort" data-sort="scode" style="text-align: center; cursor: pointer;"><%= lib_translate("Scode_education")  %></th>
                    <th style="text-align: center; cursor: pointer;" class="sort" data-sort="status"><%= lib_translate("Status")  %></th>
                  <% if (is_access(session["user_id"], "EDUCATION","EDIT") || is_access(session["user_id"], "EDUCATION","DEL")) %>
                      <th class="no-sort" style="text-align: center"></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="list">
                  <% @educations.each do |education| %>
                      <tr>
                          <td style="display: none;">
                              <%= education.id %>
                          </td>
                          <td class="name" >
                              <%= education.name %>
                    
                          </td>
                          <td class="scode">
                              <%= education.scode %>
                          </td>   
                          <td style="text-align: center" class="status">
                          
                            <%= (if education.status=="ACTIVE" 
                              lib_translate("ac_icon")
                            else 
                              lib_translate("inac_icon")
                            end ) %>
                          </td>
                       <% if (is_access(session["user_id"], "EDUCATION","EDIT") || is_access(session["user_id"], "EDUCATION","DEL")) %>
                          <td style="min-width: 100px; text-align: center;">
                           <% if is_access(session["user_id"], "EDUCATION","EDIT") %>
                              <a class="edit_education" style="text-decoration: none;"
                                  onclick="openFormUpdateeducation('<%= education.id %>', '<%= education.name %>', '<%= education.scode %>', '<%= education.status %>')" data-bs-toggle="modal" data-bs-target="#modal-education">
                                  <span class="text-primary fas fa-edit me-3" style="width: 15px"></span>
                              </a>
                               <% end %>  
                              <!-- Button trigger modal -->
                              <% if is_access(session["user_id"], "EDUCATION","DEL") %>
                              <a data-toggle="modal" data-target="#modal-education-delete-<%= education.id %>" style="cursor: pointer;">
                              <span class="text-danger fas fa-trash" style="width: 12px;"></span>
                              </a>
                                <% end %>

                              <!-- Modal -->
                              <div class="modal fade" id="modal-education-delete-<%= education.id %>" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel"><%= lib_translate("Are_you_sure")  %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" border: none;background: none;">
                                      <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <%= lib_translate("Are_you_sure_to_delete_this_education_name")  %><span style="font-weight:bold; color:red;"> <%= education.name %> </span>?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= lib_translate("Close")  %></button>
                                      <%= link_to lib_translate("Delete"), url_for(action: :del, id: education.id), method: :delete, class: "btn btn-danger", id: "btn_delete_education", onclick: "delete_loading_education(this)" %>
                                      <div id="loading_button_delete_education" class= "btn btn-danger" style="opacity: 0.8; display:none;" >
                                        <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Deleting")%> 
                                      </div>
                                  </div>
                                  </div>
                              </div>
                              </div>
                          </td>
                           <% end %>
                      </tr>
                  <% end %>
                </tbody>
              </table>
              <%= render_pagination_limit_offset(education_edit_path(lang: session[:lang], per_page: session[:per_page], search: session[:search]), 10, @educations.count).html_safe %>
            </div>
        </div>
      </div>
    </div>
  </div>



<!-- modal -->
<div class="modal fade" id="modal-education" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="cls_bmtu_form_add_title">create_education</h4>
        </div>
        <div class="p-4 pb-0">
          <div id="error_explanation" class="text-danger" style="text-align: center;font-size: 13px;"></div>
          <div class="form-add-education">
            <%= form_for @education, :url=> education_update_path, html: {method: :post, id:"form_add_education",class:'col-12' } do |f| %>
                <div class="erro_labble mb-2">
                    <p style="display:none; color: rgb(197 82 82);border: 1px solid rgb(199 136 136 / 23%);background: rgb(255 54 54 / 16%);border-radius: 5px;padding: 10px"
                    id="erro_labble_content">
                    </p>
                </div>
                <div class="row mb-3" style="display:none;">
                  <%= f.label :id, class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-9">
                        <%= f.text_field :id, class: 'form-control' , name: 'education_id_add' %>
                  </div>
                </div>
                <div class="row mb-3"> 
                      <label class="col-sm-3 col-form-label" for="inputEmail3"><%= lib_translate("Name_education") %>:</label>
                  <div class="col-sm-9">
                  <%= f.text_field :name, class: 'form-control',  name:'education_name_add' %>
                  </div>
                </div>
                <div class="row mb-3"> 
                      <label class="col-sm-3 col-form-label" for="inputEmail3"><%= lib_translate("Code") %>:</label>
                  <div class="col-sm-9">
                              <%= f.text_field :scode, class: 'form-control' , name: 'education_scode_add' %>
                  </div>
                </div>
                <fieldset>
                  <div class="row mb-3" style="align-items: center;">
                    <label class="col-sm-3 col-form-label" for="inputEmail3"><%= lib_translate("Status") %>:</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-auto">
                          <input checked type="radio" id="education_status_active" class="form-check-input" value="ACTIVE" name="education_status_add" /> <label class="form-check-label" for="education_status_active" style="cursor: pointer"> ACTIVE</label>
                        </div>
                        <div class="col-auto">
                          <input  type="radio" id="education_status_inactive" class="form-check-input" value="INACTIVE" name="education_status_add" /> <label class="form-check-label" for="education_status_inactive" style="cursor: pointer"> INACTIVE</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              
                <div class="modal-footer border-0 p-0 mb-2">
                  <%= f.submit "" , type:"submit" , id:"btn_add_new_education_buttton",
                    class: "btn btn-warning border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block btn-block text-uppercase " %>
                    <div id="loading_button_education" class= "btn btn-warning border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block btn-block text-uppercase " style="opacity: 0.8;display:none;" >
                          <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Save")%> 
                    </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <script>
//  dịch từ khóa 
  let updatetitle = "<%= lib_translate("update_education")  %>";
  let createtitle = "<%= lib_translate("create_education")  %>";
 </script>
