<!-- style -->
<% content_for :head do %>
  <%= javascript_include_tag '/assets/lib_hrm/formmedia.js' %>
  <%= stylesheet_link_tag '/assets/lib_hrm/formmedia.css' %>
  <%= stylesheet_link_tag '/assets/lib_hrm/style_user_details.css' %>
<% end %>
<!-- style -->
<% content_for :bottombody do %>
<%= javascript_include_tag 'jquery.min'%>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<% end %>
<%# nav link %>
<nav class="mb-3"   style="
--falcon-breadcrumb-divider: url(
  &#34;data:image/svg + xml,
  %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%23748194'/%3E%3C/svg%3E&#34;
);
"  aria-p="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a
        href="<%= users_index_path(lang: session[:lang])  %>"
        style="color: rgb(0, 153, 255) !important"
        ><%= lib_translate("employee_profile_management") %></a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        href="<%= user_details_path(id: @holiday.user_id,page: "holiday" ,lang: session[:lang])  %>"
        style="color: rgb(0, 153, 255) !important"
        ><%= lib_translate("Holidays") %></a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">      
      <span style="border: none; background: transparent; font-weight: 700">
      <%= @holiday.name %>
      </span> 
      <%= lib_translate("Of") %>
      <span style="text-transform: capitalize; border: none; background: transparent; font-weight: 700">
              <%= @holiday.user.last_name %> <%= @holiday.user.first_name %>
      </span>
    </li>
  </ol>
</nav>
<%# table data holiday details files upload %>
<div class="card">
  <div class="p-3">
    <div id="tableExample3" data-list='{"valueNames":["name","email","create_date"],"page":5,"pagination":true}'>
      <div class="row justify-content-end g-0">
        <div class="col-auto col-sm-5 mb-3">
          <form>
            <div class="input-group">
              <input class="form-control form-control-sm shadow-none search" type="search" placeholder="<%= lib_translate("Search_table")  %>..." aria-label="search" />
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <table class="table table-bordered table-striped fs--1 mb-0">
          <thead class="bg-200 text-900">
            <tr>
              <th class="sort" data-sort="name" style="text-align:center"><%=lib_translate("File_name")%></th>
              <th class="sort" data-sort="create_date" style="text-align:center"><%=lib_translate("Create_date")%></th>
              <th class="sort" data-sort="email" style="text-align:center"><%=lib_translate("Created_by")%></th>
              <th data-sort="age"></th>
            </tr>
          </thead>
          <tbody class="list">
            <% @holiday.holdocs.each do |holdoc| %>
            <tr>
              <td class="name" style="text-align: left" ><%= holdoc.mediafile.file_name %></td>
              <td class="create_date" style="text-align: center" ><%= holdoc.mediafile.created_at.strftime("%d/%m/%Y") %>
              <td class="email" style="text-align: left" ><%= holdoc.mediafile.owner %></td>
              <td style="text-align: center;">
                <a download href="https://capp.bmtu.edu.vn/mdata/hrm/<%= holdoc.note %>" target="_blank" class="me-3" style="text-decoration: none; cursor: pointer;" title="Download" >
                  <i class = "fas fa-file-download icon"></i>
                </a>
                <a data-toggle="modal" onclick="showModalDelete(this)" data-name="<%= holdoc.mediafile.file_name %>" data-action="<%= url_for(action: :holiday_del, id: @holiday.id, uid: @holiday.user_id, did: holdoc.id, ck_action: "document")%>"  style="cursor: pointer;">
                    <span class="text-danger fas fa-trash" style="width : 15px"></span>
                </a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="pagination mb-0"></ul>
        <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
      </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><%=lib_translate("Add_doccuments")%></button>
    </div>  
  </div>

  <%# Upload media view %>
  <div class="collapse" id="collapseExample">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0"><%=lib_translate("Upload_files")%></h5>
        </div>
        <div class="card-body bg-light" id="upload_file_holiday">
          
        </div>
      </div>
  </div>
  <%# ==== %>
</div>
<%# modal delete holiday details %>
<div class="modal fade" id="holiday-confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= lib_translate("Message") %>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="border: none; background: none">
          <span aria-hidden="true" style="font-size: 20px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= lib_translate("confirm_delete_message") %>
        <span id="modal-mesasge-delete-name" style="font-weight: bold; color: red"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="button_close_delete"> <%= lib_translate("Close") %> </button>
        <a class="btn btn-danger" id="button_delete" rel="nofollow" data-method="delete" href="#"><%=lib_translate("Delete")%></a>
        <div id="loading_button_delete_holiday_details" class= "btn btn-danger" style="opacity: 0.8; width: 100%; display:none;" >
          <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Deleting")%> 
        </div>
      </div> 
    </div>
  </div>
</div>
<%# loading animation button delete => deleting holiday details %>
<script>
document.getElementById("button_delete").onclick = function () {    
            document.getElementById("button_delete").style.display = "none"; 
            document.getElementById("button_close_delete").style.display = "none"; 
            document.getElementById("loading_button_delete_holiday_details").style.display = "block";
      };
</script>

<%# Upload media code js %>
<script>
  const formMedia = new FormMedia("upload_file_holiday");
  formMedia.setIconPath('<%= root_path%>assets/image/');
  formMedia.setAction('<%= url_for(action: :holiday_upload_mediafile, holiday_id: @holiday.id)%>');
  formMedia.setTranslate({
    upload_guide_1:'<%= lib_translate("upload_guide_1") %>',
    upload_guide_2:'<%= lib_translate("upload_guide_2") %>',
    upload_guide_3:'<%= lib_translate("upload_guide_3") %>',
    confirm_delete:'<%= lib_translate("confirm_delete") %>',
    confirm_delete_all:'<%= lib_translate("confirm_delete_all") %>',
    select_files:'<%= lib_translate("select_files") %>',
    cancel:'<%= lib_translate("Cancel") %>',
    confirm:'<%= lib_translate("Confirm") %>',
    message:'<%= lib_translate("Message") %>',
    remove:'<%= lib_translate("Remove") %>',
    upload:'<%= lib_translate("Upload") %>',
    error: '<%= lib_translate("error") %>',
    try_again:'<%= lib_translate("try_again") %>',
  });
  formMedia.init();
  formMedia.addEventListener("uploaddone",(response)=>{
      let view = `
      <tr>
        <td class="name" style="text-align: left" >${response.file_name}</td>
        <td class="name" style="text-align: left" >${response.create_date}</td>
        <td class="email" style="text-align: left" >${response.file_owner}</td>
        <td style="text-align: center; white-space: nowrap;">
          <a download href="https://capp.bmtu.edu.vn/mdata/hrm/${response.file_name}" target="_blank" class="me-3" style="text-decoration: none; cursor: pointer;" title="Download" >
            <i class = "fas fa-file-download icon"></i>
          </a>
          <a data-toggle="modal" onclick="showModalDelete(this)" data-name="${response.file_name}" data-action="<%= url_for(action: :holiday_del, id: @holiday.id, uid: @holiday.user_id, ck_action: "document")%>&did=${response.id_doc}"  style="cursor: pointer;" >
              <span class="text-danger fas fa-trash" style="width : 15px"></span>
          </a>
        </td>
      </tr>
      `;
      $(".list").prepend(view);
  });
</script>
<%# show modal delete holiday details %>
<script>
    function showModalDelete(element) {
      let href = element.getAttribute("data-action");
      let name = element.getAttribute("data-name");
      $("#holiday-confirm").find('#button_delete').attr('href',href);
      $("#holiday-confirm").find('#modal-mesasge-delete-name').text(name);
      // show modal
      $("#holiday-confirm").modal('show');

    }
</script>