       <p id="cls_bmtu_form_add_title"  class=" mt-3 fw-bold fs-3 d-flex justify-content-center">
             Department Detail
        </p>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@id%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@name%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@scode%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@issued_date%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@issued_place%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@issued_by%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@note%> </span></span>
            </div>

            <div class="row ">
            <span class="cls_BMTU_profile_text">department:<span class="cls_BMTU_profile_text" ><%=@status%> </span></span>
            </div>


