<%= stylesheet_link_tag '/assets/mystyle/acamedicrank.css'%>

<div class="bmtu_header_dashboard">
    <h3 class="mt-2 overview_text"><%= lib_translate("List_Academicrank")  %></h3>
   
    <div class="card mb-3">
        <div class="card-body pt-0">
            <div class="tab-content">
             <% if is_access(session["user_id"], "ACADEMICRANK","ADD") %>
                <button onclick="openFormAddacademicrank()" class="btn btn-primary btn-add-academicrank mt-3" id="btn-add-academicrank" data-bs-toggle="modal" data-bs-target="#modal-academicrank">
                      <%= lib_translate("New_Academic")  %>
                </button>
                  <% end %>
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-5a3c857c-8deb-4307-af64-a62f27089443" id="dom-5a3c857c-8deb-4307-af64-a62f27089443" >
                        <div class="table-responsive scrollbar">
                        <%= render_search_pagination(academicrank_index_path()).html_safe %>
                            <table id="table_acamedicrank" class="table table-bordered fs--1 mb-0 table-hover">
                                <thead class="bg-200 text-900">
                                    <tr>
                                        <th class="sort" data-sort="academicrank_name" style="text-align: center; cursor: pointer;"><%= lib_translate("Name")  %> </th>
                                        <th class="sort" data-sort="academicrank_scode" style="text-align: center; cursor: pointer;"><%= lib_translate("Code")  %></th>
                                        <th class="sort" data-sort="sel_status" style="text-align: center; cursor: pointer;"><%= lib_translate("Status")  %></th>
                                          <% if (is_access(session["user_id"], "ACADEMICRANK","EDIT") || is_access(session["user_id"], "ACADEMICRANK","DEL")) %>                                   
                                          <th class="no-sort" style="text-align: center"></th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <% @academicranks.each do |academicrank| %>
                                    <tr>
                                        <td style="white-space: nowrap;" class="academicrank_name">
                                        <%= academicrank.name %>
                                        </td>
                                        <td style="text-align: center;min-width: 100px;" class="academicrank_scode">
                                        <%= academicrank.scode %>
                                        </td>
                                        <td style="text-align: center;min-width: 161px;" class="sel_status">
                                                <%= ( if academicrank.status=="ACTIVE"
                                                        lib_translate("ac_icon") 
                                                        else academicrank.status=="INACTIVE" 
                                                        lib_translate("inac_icon")
                                                        end ) %>
                                                </td> 
                                        <% if (is_access(session["user_id"], "ACADEMICRANK","EDIT") || is_access(session["user_id"], "ACADEMICRANK","DEL")) %>                                   
                                        <td style="text-align: center; min-width: 110px">
                                       <% if is_access(session["user_id"], "ACADEMICRANK","EDIT") %>
                                        <a style="cursor:pointer;" onclick="openFormUpdateacademicrank(      '<%= academicrank.id %>',
                                                                                                '<%= academicrank.name %>',
                                                                                                '<%= academicrank.scode %>', 
                                                                                                '<%= academicrank.status %>')" data-bs-toggle="modal" data-bs-target="#modal-academicrank">
                                            <span class="text-primary fas fa-edit me-3"></span>
                                        </a>

                                          <% end %>  
                                       <% if is_access(session["user_id"], "ACADEMICRANK","DEL") %>
                                        <a data-toggle="modal" data-target="#exampleModal-#{<%= academicrank.id %>}" style="cursor: pointer;">
                                            <span class="text-danger fas fa-trash" style="width : 15px"></span>
                                        </a>
                                          <% end %>
                                        <div class="modal fade" id="exampleModal-#{<%= academicrank.id %>}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><%= lib_translate("Are_you_sure")  %>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background: none" >
                                                    <span aria-hidden="true" style="font-size: 20px"  >&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <%= lib_translate("confirm_delete_message")  %>:<span style="font-weight:bold; color:red;"> <%= academicrank.name %> </span>?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= lib_translate("Close")   %></button>
                                                <%= link_to lib_translate("Delete") , url_for(action: :del, id: academicrank.id), method: :delete, class: "btn btn-danger",onclick: "delete_loading_academic(this)" %>
                                                     <div id="loading_button_delete_academicrank" class= "btn btn-danger" style="opacity: 0.8; display:none;" >
                                                        <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Deleting")%> 
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </td>
                                          <% end %>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= render_pagination_limit_offset(academicrank_index_path(lang: session[:lang], per_page: session[:per_page], search: session[:search]), 10, @academicranks.count).html_safe %>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- modal -->
<div class="modal fade" id="modal-academicrank" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="cls_bmtu_form_add_academicrank_title"><%= lib_translate("New_academicranks")  %></h4>
        </div>
        <div class="p-4 pb-0">
          <div id="error_explanation" class="text-danger" style="text-align: center;font-size: 13px;"></div>
            <div class="form-add-academicrank">
              <%= form_for @academicrank, :url=> academicrank_update_path, html: {method: :post, id:"form_add_academicrank", class:'col-12' } do |f| %>
                <div class="erro_labble mb-2">
                    <p style="display:none; color: rgb(197 82 82);border: 1px solid rgb(199 136 136 / 23%);background: rgb(255 54 54 / 16%);border-radius: 5px;padding: 10px"
                    id="erro_lable_academicrank">
                    </p>
                </div>
                <div class="row mb-3" style="display:none;">
                  <%= f.label :id, class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-8 col-lg-9">
                        <%= f.text_field :id, class: 'form-control' , name: 'academicrank_id', id:  'academicrank_id' %>
                  </div>
                </div>
                <div class="row mb-3"> 
                      <label class="col-sm-4 col-lg-3 col-form-label" for="inputEmail3"><%= lib_translate("Name") %>:</label>
                  <div class="col-sm-8 col-lg-9">
                  <%= f.text_field :name, class: 'form-control',  name:'academicrank_name',  id:'academicrank_name' %>
                  </div>
                </div>
                <div class="row mb-3"> 
                      <label class="col-sm-4 col-lg-3 col-form-label" for="inputEmail3"><%= lib_translate("Code") %>:</label>
                  <div class="col-sm-8 col-lg-9">
                              <%= f.text_field :scode, class: 'form-control' , name: 'academicrank_scode' , id: 'academicrank_scode'%>
                  </div>
                </div>
                <fieldset>
                  <div class="row mb-3" style="align-items: center;">
                    <label class="col-sm-4 col-lg-3 col-form-label" for="inputEmail3"><%= lib_translate("Status") %>:</label>
                    <div class="col-sm-8 col-lg-9">
                      <div class="row">
                        <div class="col-auto">
                          <input checked type="radio" id="academic_status_active" class="form-check-input" value="ACTIVE" name="sel_status"/> <label class="form-check-label" for="academic_status_active" style="cursor: pointer"> ACTIVE</label>
                        </div>
                        <div class="col-auto">
                          <input  type="radio" id="academic_status_inactive" class="form-check-input" value="INACTIVE" name="sel_status"/> <label class="form-check-label" for="academic_status_inactive" style="cursor: pointer"> INACTIVE</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="modal-footer border-0 p-0 mb-2">
                  <%= f.submit "Add academicrank" , type:"button" , id:"btn_add_new_academicrank", class: "btn btn-warning border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block btn-block text-uppercase " %>
                    <div id="loading_button_academicrank" class= "btn btn-warning border-red border-pink-600 cls-bmtu-text-red md:group-hover:bg-pink-50 btn-block btn-block text-uppercase " style="opacity: 0.8;display:none;" >
                          <i class ="fa fa-spinner fa-spin"> </i>  <%=lib_translate("Save")%> 
                    </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>   
  let newAcademic = "<%= lib_translate("New_Academic")  %>";
  let updateAcademic =  "<%= lib_translate("Update_Academic")  %>"; 
</script>
<%= javascript_include_tag '/assets/myjs/acamedicrank.js'%>
<%= javascript_include_tag '/assets/lib_hrm/jquery-3.2.1.slim.min.js', integrity: 'sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin: 'anonymous' %>
<%= javascript_include_tag '/assets/lib_hrm/bootstrap.min.js', integrity: 'sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin: 'anonymous'%>